C:\Users\Mor\Documents\GitHub\ProcurementBalilihan\Procurement Tracking App\Procurement Tracking App\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
C:\Users\Mor\Documents\GitHub\ProcurementBalilihan\Procurement Tracking App\Procurement Tracking App\obj\Debug\Procurement Tracking App.csproj.FileListAbsolute.txt
