C:\Users\Mor\Documents\GitHub\ProcurementBalilihan\Procurement Tracking App\Procurement Tracking App\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
C:\Users\Mor\Documents\GitHub\ProcurementBalilihan\Procurement Tracking App\Procurement Tracking App\obj\Debug\Procurement Tracking App.csproj.FileListAbsolute.txt
Procurement Tracking App/Procurement Tracking App/bin/Debug/Procurement Tracking App.exe
Procurement Tracking App/Procurement Tracking App/bin/Debug/Procurement Tracking App.pdb
Procurement Tracking App/Procurement Tracking App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Procurement Tracking App/Procurement Tracking App/obj/Debug/Procurement Tracking App.csproj.FileListAbsolute.txt
Procurement Tracking App/Procurement Tracking App/obj/Debug/Procurement Tracking App.csproj.GenerateResource.Cache
Procurement Tracking App/Procurement Tracking App/obj/Debug/Procurement Tracking App.exe
Procurement Tracking App/Procurement Tracking App/obj/Debug/Procurement Tracking App.pdb
